<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Confirm Booking</title>

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
</head>
<body class="bg-light text-center">

  <div class="container mt-5">
    <h3 class="mb-4">Jirnexxielek Tahrab?</h3>

    <!-- ID Search Row -->
    <form method="POST" action="/searchName">
      <div class="input-group mb-3 justify-content-center w-50 mx-auto">
        <input type="text" id="idCard" name="idCard" class="form-control" placeholder="Fittex bl-ID Card" />
        <button class="btn btn-outline-secondary" type="submit">🔍</button>
      </div>
    </form>
    
  <div class="mt-4 p-3 border rounded bg-white">
    <h2 class="mb-3">Nies li sa jiparteċipaw</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID Card</th>
                <th>Isem</th>
                <th>Kunjom</th>
            </tr>
        </thead>
        <tbody id="leaderboard-entries">
            {% for user in users %}
            <tr>
                <td>{{ user[0] }}</td>
                <td>{{ user[1] }}</td>
                <td>{{ user[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>

<button id="cancelBtn" class="btn btn-dark" onclick="location.href='/'">Mur Lura</button>

    <!-- Start Button -->
     {% if check %}
    <button id="startBtn" class="btn btn-dark" onclick="location.href='/timer'">IBDA AĦRAB</button>
    {% endif %}
  </div>

  <script>


    function checkIfReady() {
      const filled = document.getElementById("name").value !== "" && document.getElementById("email").value !== "";
      const consent = document.getElementById("consentCheckbox").checked;
      document.getElementById("startBtn").disabled = !(filled && consent);
    }

    document.getElementById("consentCheckbox").addEventListener("change", checkIfReady);

    function startEscape() {
      // Redirect to timer only if all conditions met
      window.location.href = "/timer";
    }
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
